<div layout="row" layout-fill>
	<div flex="25">
		<div alignement-chart layout-fill alignement="item.alignement"></div>
	</div>
	<div flex="35">
		<div fragmentation-chart layout-fill fragmentation="item.fragmentation"></div>
	</div>
	<div flex layout="column" layout-align="center">
		<strong>{{item.shortName}}</strong>
		<small style="opacity: 0.6">
			{{item.tags.join(", ")}}
		</small>
	</div>
	<div layout="column" flex="15" layout-align="center" style="font-size: 0.8em">
			<small style="opacity: 0.6">dépot</small>
			{{item.dates.depot}}
			<div style="height: 6px"></div>
			<small style="opacity: 0.6">promulgation</small>
			{{item.dates.promulgation}}
		</div>
	</div>
</div>