<div layout="row" layout-fill>
	<div layout="row" flex="50">
		<div flex="40">
			<div alignement-chart layout-fill alignement="item.alignement"></div>
		</div>
		<div flex>
			<div fragmentation-chart layout-fill fragmentation="item.fragmentation" groups="groups"></div>
		</div>
		<div style="width: 80px; margin-right: 24px" layout="column" layout-align="center end">
			{{item.amendements}}
		</div>
	</div>
	<div layout="row" flex="50">
		<div flex layout="column" layout-align="center">
			<strong md-truncate>{{item.shortName}}</strong>
			<small style="opacity: 1" ng-if="item.description1">
				{{item.description1}}
			</small>
			<small style="opacity: 0.6" ng-if="item.description2">
				{{item.description2}}
			</small>
		</div>
		<div layout="column" layout-align="center" style="font-size: 0.8em; padding-left: 12px; width: 80px">
			<div layout="column" ng-if="item.dates.depot">
				<div style="opacity: 0.6; font-size: 0.9em">dépot</div>
				{{item.dates.depot}}
				<div style="height: 6px"></div>
				<div style="opacity: 0.6; font-size: 0.9em">promulgation</div>
				{{item.dates.promulgation}}
			</div>
		</div>
	</div>
</div>
