<!-- <div layout="column" layout-align="center center" style="height: 140px;">
  {{view}}
</div> -->
<div
	style="height: 140px;"
	ng-click="selectedView = view"
	ng-class="{'md-whiteframe-3dp': selectedView == view}"
>
	<md-content
		style="width: 100%; overflow: hidden; cursor: pointer; z-index: 6"
		layout="column"
		layout-align="center center"
		md-ink-ripple
		md-colors="{background: selectedView == view ? 'default-background-A100' : 'default-background-50-0.0'}"
		layout-fill
	>
		<div>
			{{view}}
		</div>
	</md-content>
</div>