
<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div layout="column" layout-fill ng-if="!loading" md-colors="{'background-color':'default-primary-50', 'color':'default-primary-600'}">

  <!-- HEADER -->
  <div style="height: 100px" layout="row">
    <div class="md-padding">
      <img src="res/the-law-factory-logo.svg">
    </div>
    <div flex class="md-padding" layout="column" layout-align="center start">
      <div>
        <strong>Alignement et Fragmentation</strong>
        <br>
        des groupes politiques par les co-signatures d'amendements
      </div>
    </div>
  </div>

  <!-- SORT & SEARCH -->
  <div style="height: 80px; padding: 0px 12px" layout="row">
    <md-input-container style="width: 300px">
      <label>Trier par</label>
      <md-select ng-model="$parent.sortKey">
        <md-option value="shortName">
          Ordre alphabétique
        </md-option>
        <md-option value="dates.depot">
          Dépôt récent
        </md-option>
        <md-option value="alignement">
          Alignement
        </md-option>
        <md-option value="fragmentation_max">
          Fragmentation
        </md-option>
        <md-option value="amendements">
          Nombre d'amendements
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex style="margin-left: 48px">
      <label>Chercher une loi</label>
      <md-icon>search</md-icon>
      <input
        ng-model="query"
      >
    </md-input-container>
  </div>

  <!-- LIST -->
  <div layout="column" flex>
    <md-toolbar md-scroll-shrink style="overflow-y: scroll">
      <div class="md-toolbar-tools" layout="row">
        <div layout="row" flex="50">
          <div flex="40" layout="column" layout-align="center start">
            Alignement
          </div>
          <div flex layout="column" layout-align="center center">
            Fragmentation
          </div>
          <div style="width: 80px; margin-right: 24px; font-size: 0.6em" layout="column" layout-align="center end">
            <div>Nombre</div>
            <div>d'amend.</div>
          </div>
        </div>
        <div layout="row" flex="50">
          <div flex layout="column" layout-align="center">
            Projet de loi
          </div>
        </div>
      </div>
    </md-toolbar>
    <div flex style="overflow: auto">
      <md-list
        md-colors="{'background':'default-background-A100-0.8'}"
      >
        <md-list-item
          ng-repeat="item in items|filter:query|orderBy:sortKey|reverse:sortReverse[sortKey]"
          ng-if="item.amendements >= 5"
          md-item-size="100"
          style="height: 100px;"
          ng-href="#!/network/{{item.id}}"
          flex
        >
          <div style="height: 100px; line-height: initial;" layout-fill>
            <align-frag-list-item item="item" groups="nosDeputesData.groupes_byAcro" layout-fill></align-frag-list-item>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
