.md-padding {
	padding: 12px;
}
.nofocus:focus {
  outline: none;
}
.network-view-additional-layer {
	font-family: Quicksand, serif;
	font-weight: 300;
}
.network-view-additional-layer h3 {
	font-weight: 500;
	margin: 6px 0px 0px 0px;
	font-size: 1.2em;
}
.network-view-additional-layer p {
	margin: 3px 200px 3px 200px;
	text-align: center;
}