
<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div layout="column" layout-fill ng-if="!loading" md-colors="{'background-color':'default-primary-50', 'color':'default-primary-600'}">

  <!-- HEADER -->
  <div style="height: 60px" class="md-padding">
    <strong>Alignement et Fragmentation</strong>
    <br>
    des groupes politiques par les co-signatures d'amendements
  </div>

  <!-- SORT & SEARCH -->
  <div style="height: 40px" class="md-padding">
    TODO: Sort and search
  </div>

  <!-- LIST -->
  <div layout="column" flex>
    <md-toolbar md-scroll-shrink style="overflow-y: scroll">
      <div class="md-toolbar-tools" layout="row">
        <div layout="row" flex="50">
          <div flex="40" layout="column" layout-align="center start">
            Alignement
          </div>
          <div flex layout="column" layout-align="center center">
            Fragmentation
          </div>
          <div style="width: 80px; margin-right: 24px; font-size: 0.6em" layout="column" layout-align="center end">
            <div>Nb amend.</div>
            <div>cosignés</div>
            <div>par 2+ parl.</div>
          </div>
        </div>
        <div layout="row" flex="50">
          <div flex layout="column" layout-align="center">
            Projet de loi
          </div>
        </div>
      </div>
    </md-toolbar>
    <div flex>
      <md-virtual-repeat-container layout-fill md-colors="{'background':'default-background-A100-0.2'}">
        <md-list
          md-colors="{'background':'default-background-A100-0.8'}"
        >
          <md-list-item
            md-virtual-repeat="item in items"
            ng-if="item.amendements >= 5"
            md-item-size="100"
            style="height: 100px;"
            ng-href="#!/network/{{item.id}}"
            flex
          >
            <div style="height: 100px; line-height: initial;" layout-fill>
              <align-frag-list-item item="item" groups="nosDeputesData.groupes_byAcro" layout-fill></align-frag-list-item>
            </div>
          </md-list-item>
        </md-list>
      </md-virtual-repeat-container>
    </div>
  </div>
</div>
