
<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div layout="column" layout-fill ng-if="!loading">

  <!-- HEADER -->
  <div style="height: 100px" class="md-padding">
    <strong>Alignement et Fragmentation</strong>
    <br>
    des groupes politiques par les co-signatures d'amendements
  </div>

  <!-- SORT & SEARCH -->
  <div style="height: 120px">
    TODO: Sort and search
  </div>

  <!-- LIST -->
  <div layout="column" flex>
    <div style="height: 40px">
      LIST HEADER
    </div>
    <div flex>
      <md-virtual-repeat-container layout-fill>
        <md-list
          md-colors="{
            'background': 'default-background-100'
          }"
        >
          <md-list-item
            md-virtual-repeat="item in items"
            md-item-size="100"
            ng-href="#!/gaga"
            flex
          >
            <div style="height: 100px; line-height: initial;" flex>
              <align-frag-list-item item="item" layout-fill></align-frag-list-item>
            </div>
          </md-list-item>
        </md-list>
      </md-virtual-repeat-container>
    </div>
  </div>
</div>
