
<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div layout="column" layout-fill ng-if="!loading" md-colors="{'background-color':'default-primary-50', 'color':'default-primary-600'}">

  <div layout="row" style="height: 140px; z-index: 10" class="md-whiteframe-4dp" md-colors="{'background':'default-primary'}">
    <!-- <div style="width: 100px">
      TODO: Loi précédente
    </div> -->
    <div layout="column" flex>
      <div flex="33" layout="column" layout-align="center center">
        <md-button>
          PROJET DE LOI
        </md-button>
      </div>
      <div flex="33" layout="row" md-colors="{'background':'default-primary-500-0.8'}">
        <div ng-repeat="lecture in data.lectures" flex layout="column" layout-align="center center">
          <md-button>
            {{lecture}}
          </md-button>
        </div>
      </div>
      <div flex="33" layout="column" layout-align="center center">
        <md-button class="md-default">
          <md-icon style="color: #FFF">filter_list</md-icon>
          Filtrer par articles
        </md-button>
      </div>
    </div>
    <!-- <div style="width: 100px">
      TODO: Loi suivante
    </div> -->
  </div>

  <div layout="row" flex>
    <div layout="column" layout-align="center" style="width: 140px">
      <network-view-selector
        selected-view="selectedView"
        view="'consensus'"
      >
      </network-view-selector>
      <network-view-selector
        selected-view="selectedView"
        view="'hemicycle'"
      >
      </network-view-selector>
      <network-view-selector
        selected-view="selectedView"
        view="'reseau'"
      >
      </network-view-selector>
      <network-view-selector
        selected-view="selectedView"
        view="'fragmentation'"
      >
      </network-view-selector>
    </div>

    <div flex class="md-whiteframe-2dp" style="margin: 0px; background-color: #FFF; z-index: 5">
      <sigma-network
        ng-if="networkData.loaded"
        start-layout-on-load="false"
        get-camera-state="$parent.getCameraState"
        editable-attributes="true"
        layout-fill
      ></sigma-network>
    </div>

    <div layout="column" layout-align="center" ng-if="showDetails" style="width: 180px">
    </div>
  </div>

</div>
